<div class="mg-border-left mg-row-border-top controls-row"></div>
    <!--
        TIME
    -->
    <div id="time" class="cell grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="16">
            <div>TIME <span style="text-transform:lowercase">[ms]</span></div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-16"></svg>
        </div>
    </div>
    <!--
        TEMPO
    -->
    <div class="cell grid-default mg-row-border-top controls-row">
        <div class="header infos" data-infos="15">
            <div id="tempo-label" title="">TEMPO</div>
        </div>
        <div class="grid-3x1 controls-options-grid" style="padding-left:16%;padding-right:16%">
            <div id="tempo-bpm" style="text-align:center;padding-top:5px" title="TAP to set the tempo">
                - BPM
            </div>
            <div id="toggle-dotted-8th" class="tgl" style="display:flex;justify-content:center">
                <div style="width:18px;height:18px">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
                         viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                        <path d="M68.895,19.698C62.392,13.181,54.726,7.614,53.008,1.759v70.604c-4.907-6.32-13.438-6.597-20.097-3.447  c-7.548,3.572-13.24,11.873-8.896,20.976c4.305,9.102,14.293,9.963,21.877,6.393c5.893-2.801,10.658-8.477,10.395-15.178V24.743  c9.418,1.419,19.151,11.146,20.777,23.074C78.683,34.935,75.661,26.581,68.895,19.698z"/>
                        <circle cx="75" cy="88.035" r="6"/>
                    </svg>
                </div>
            </div>
<!--            <div class="">-->
                <div id="toggle-half-speed" class="tgl" style="text-align:center">
                    ½ speed
                </div>
<!--            </div>-->
        </div>
<!--
        <div>1
            TAP
        </div>
-->
    </div>
    <!--
        MULTIPLY
    -->
    <div id="multiply" class="cell grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="19">
            <div>MULTIPLY</div>
        </div>
        <div id="cc-19-options" class="grid-3x2 controls-options-grid">
            <div id="cc-19-0" class="bt">1</div>
            <div id="cc-19-87" class="bt">4</div>
            <div id="cc-19-32" class="bt">2</div>
            <div id="cc-19-115" class="bt">5</div>
            <div id="cc-19-62" class="bt">3</div>
            <div id="cc-19-127" class="bt">6</div>
        </div>
    </div>
    <!--
        FEEDBACK
    -->
    <div id="feedback" class="cell grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="17">
            <div>FEEDBACK</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-17"></svg>
        </div>
    </div>
    <!--
        FEEDBACK FILTER
    -->
    <div id="feedback-filter" class="cell grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="23">
            <div>FEEDBACK FILTER</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-23"></svg>
        </div>
    </div>
    <!--
        DIMENSION
    -->
    <div id="dimension" class="cell grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="20">
            <div>DIMENSION</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-20"></svg>
        </div>
    </div>
<div class="mg-border-right mg-row-border-top controls-row"></div>

<div class="mg-border-left controls-row"></div>
    <!--
        EARLY MOD
    -->
    <div id="early-mod" class="cell grid-default controls-row span-2">
        <div class="header exp infos" data-infos="22">
            <div>EARLY MODULATION</div>
        </div>
        <div id="cc-22-options" class="grid-4x4 controls-options-grid pb-10">
            <div id="cc-22-0" class="bt">OFF</div>
            <div id="cc-22-8" class="bt">Slow &lt;&gt;</div>
            <div id="cc-22-72" class="bt flex-row space-between"><span class="tight ml-10">2↓</span><span class="tight mr-10">2↑</span></div>
            <div id="cc-22-80" class="bt flex-row space-between"><span class="tight ml-10">8↓</span>  <div class="mr-10">b<span class="tight">3↑</span></div></div>
            <div id="cc-22-16" class="bt">Med &lt;&gt;</div>
            <div id="cc-22-24" class="bt">Med &lt;-&gt;</div>
            <div id="cc-22-88" class="bt flex-row space-between"><span class="tight ml-10">5↓</span> <span class="tight mr-10">4↑</span></div>
            <div id="cc-22-104" class="bt flex-row space-between"><span class="tight ml-10">8↓</span> <span class="tight mr-10">5↑</span></div>
            <div id="cc-22-32" class="bt">Fast &lt;-&gt;</div>
            <div id="cc-22-40" class="bt">Fast &lt;--&gt;</div>
            <div id="cc-22-112" class="bt flex-row space-between"><span class="tight ml-10">5↓</span> <span class="tight mr-10">8↑</span></div>
            <div id="cc-22-120" class="bt flex-row space-between"><span class="tight ml-10">8↓</span> <span class="tight mr-10">8↑</span></div>
            <div id="cc-22-48" class="bt">FM24</div>
            <div id="cc-22-56" class="bt">FM48</div>
            <div id="cc-22-64" class="bt">FM96</div>
            <div id="cc-22-96" class="bt">trem <span class="tight">4↑</span></div>
        </div>
    </div>
    <!--
        LATE MOD
    -->
    <div id="late-mod" class="cell grid-default controls-row span-2">
        <div class="header exp infos" data-infos="25">
            <div>LATE MODULATION</div>
        </div>
        <div id="cc-25-options" class="grid-4x4 controls-options-grid pb-10">
            <div id="cc-25-0" class="bt">OFF</div>
            <div id="cc-25-72" class="bt">Slow &lt;&gt;</div>
            <div id="cc-25-80" class="bt flex-row space-between"><span class="tight ml-10">2↓</span><span class="tight mr-10">2↑</span></div>
            <div id="cc-25-88" class="bt flex-row space-between"><span class="tight ml-10">8↓</span>  <div class="mr-10">b<span class="tight">3↑</span></div></div>
            <div id="cc-25-16" class="bt">Med &lt;&gt;</div>
            <div id="cc-25-24" class="bt">Med &lt;-&gt;</div>
            <div id="cc-25-96" class="bt flex-row space-between"><span class="tight ml-10">5↓</span> <span class="tight mr-10">4↑</span></div>
            <div id="cc-25-13" class="bt flex-row space-between"><span class="tight ml-10">8↓</span> <span class="tight mr-10">5↑</span></div>
            <div id="cc-25-32" class="bt">Fast &lt;-&gt;</div>
            <div id="cc-25-40" class="bt">Fast &lt;--&gt;</div>
            <div id="cc-25-112" class="bt flex-row space-between"><span class="tight ml-10">5↓</span> <span class="tight mr-10">8↑</span></div>
            <div id="cc-25-120" class="bt flex-row space-between"><span class="tight ml-10">8↓</span> <span class="tight mr-10">8↑</span></div>
            <div id="cc-25-48" class="bt">FM24</div>
            <div id="cc-25-56" class="bt">FM48</div>
            <div id="cc-25-64" class="bt">FM96</div>
            <div id="cc-25-104" class="bt">trem <span class="tight">4↑</span></div>
        </div>
    </div>


    <!--
        TEMPO
    -->
<!--
    <div id="tempo" class="grid-default controls-row pb-5">
        <div class="header infos" data-infos="15">
            <div id="tempo-label" title="">TEMPO MS</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-15"></svg>
        </div>
    </div>
-->
    <div id="delay-level" class="cell grid-default controls-row">
        <div class="header exp infos" data-infos="24">
            <div>DELAY LEVEL</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-24"></svg>
        </div>
    </div>
    <!--
        MIX
    -->
    <div id="mix" class="cell grid-default controls-row">
        <div class="header exp infos" data-infos="18">
            <div>MIX</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-18"></svg>
        </div>
    </div>
<div class="mg-border-right"></div>

<div class="mg-border-left mg-row-border-bottom pb-5"></div>
    <!--
        FLANGER DEPTH
    -->
    <div id="flanger-mode" class="cell grid-default mg-last-row controls-row mg-row-border-bottom">
        <div class="header exp infos" data-infos="21">
            <div>FLANGERS DEPTH</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-21"></svg>
        </div>
    </div>
    <!--
        FLANGER MODE
    -->
    <div id="flanger-mode" class="cell grid-default mg-last-row controls-row mg-row-border-bottom">
        <div class="header exp infos" data-infos="26">
            <div>FLANGERS MODE</div>
        </div>
        <div id="cc-26-options" class="grid-3x1 controls-options-grid">
            <div id="cc-26-0" class="bt">ENV DOWN</div>
            <div id="cc-26-33" class="bt">ENV UP</div>
            <div id="cc-26-127" class="bt">LFO</div>
            <div id="toggle-neg-feedback" class="tgl">+NEG FEEDBACK</div>
        </div>
    </div>
    <!--
        FLANGER SPEED
    -->
    <div id="flanger-speed" class="cell grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header exp infos" data-infos="27">
            <div>FLANGERS SPEED</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-27"></svg>
        </div>
    </div>
    <!--
        PHASER MODE
    -->
    <div id="phaser-mode" class="cell grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="29">
            <div>PHASERS</div>
        </div>
        <div id="cc-29-options" class="grid-4x1 controls-options-grid pb-10">
            <div id="cc-29-0" class="bt">OFF</div>
            <div id="cc-29-63" class="bt">SLOW</div>
            <div id="cc-29-95" class="bt">WHOLE NOTE</div>
            <div id="cc-29-127" class="bt">1/4 NOTE</div>
        </div>
    </div>
    <!--
        EXP
    -->
    <div id="exp-controler" class="cell grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header exp infos" data-infos="4">
            <div>EXP PEDAL</div>
        </div>
        <div class="exp_wrapper">
            <div id="exp-a1"></div>
            <div id="exp-a2" class="slider-combo">
                <svg id="cc-4" class="slider"></svg>
            </div>
            <div id="exp-close" class="exp-switch"><div class="btx" id="exp-close-bt" title="Click to switch to edit the EXP (toe-down) values">toe</div></div>
            <div id="exp-open">heel</div>
            <div id="cc-4-value" class="slider-value"></div>
            <div id="exp-copy" class="btx" title="Click to copy the heel (normal) values to the toe values.">copy</div>
        </div>
    </div>
    <!--
        BYPASS
    -->
    <div id="bypass" class="cell grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="14">
            <div class="header-shortcut hidden">[SPACE]</div>
            <div>bypass</div>
        </div>
        <div class="controls">
            <div class="stompswitch">
                <div id="cc-14-127" class="sw"><i class="fas fa-circle" aria-hidden="true" title="click to switch on"></i></div>
                <div id="cc-14-0" class="sw sw-off sw-on"><i class="fas fa-circle" aria-hidden="true" title="click to switch off"></i></div>
            </div>
        </div>
    </div>
<div class="mg-border-right mg-last-row mg-row-border-bottom controls-row pb-5"></div>