<div class="mg-border-left mg-row-border-top controls-row"></div>
    <!--
        TIME
    -->
    <div id="time" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="16">
            <div>TIME</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-16"></svg>
        </div>
    </div>
    <!--
        MULTIPLY
    -->
    <div id="multiply" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="19">
            <div>MULTIPLY</div>
        </div>
        <div id="cc-19-options" class="grid-3x2 controls-options-grid">
            <div id="cc-19-0" class="bt">1</div>
            <div id="cc-19-87" class="bt">4</div>
            <div id="cc-19-32" class="bt">2</div>
            <div id="cc-19-115" class="bt">5</div>
            <div id="cc-19-62" class="bt">3</div>
            <div id="cc-19-127" class="bt">6</div>
        </div>
    </div>
    <!--
        FEEDBACK
    -->
    <div id="feedback" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="17">
            <div>FEEDBACK</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-17"></svg>
        </div>
    </div>
    <!--
        FEEDBACK FILTER
    -->
    <div id="feedback-filter" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="23">
            <div>FEEDBACK FILTER</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-23"></svg>
        </div>
    </div>
    <!--
        DIMENSION
    -->
    <div id="dimension" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="20">
            <div>DIMENSION</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-20"></svg>
        </div>
    </div>
    <!--
        DELAY LEVEL
    -->
    <div id="delay-level" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="24">
            <div>DELAY LEVEL</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-24"></svg>
        </div>
    </div>
<div class="mg-border-right mg-row-border-top controls-row"></div>

<div class="mg-border-left controls-row"></div>

    <!--
        TEMPO
    -->
    <div id="tempo" class="grid-default controls-row pb-5">
        <div class="header infos" data-infos="15">
            <div id="tempo-label" title="">TEMPO</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-15"></svg>
        </div>
    </div>

    <!--
        Early mod
    -->
    <div id="early-mod" class="grid-default controls-row">
        <div class="header exp infos" data-infos="22">
            <div>EARLY MOD</div>
        </div>
<!--
        <div id="cc-19-options" class="grid-4x4 controls-options-grid">
            <div id="cc-23-0" class="bt">LP</div>
            <div id="cc-23-1" class="bt">v. LP</div>
            <div id="cc-23-2" class="bt">BP</div>
            <div id="cc-23-3" class="bt">v. BP</div>
            <div id="cc-23-4" class="bt">HP</div>
            <div id="cc-23-5" class="bt">v. HP</div>
            <div id="cc-23-6" class="bt">LP</div>
            <div id="cc-23-7" class="bt">v. LP</div>
            <div id="cc-23-7" class="bt">BP</div>
            <div id="cc-23-9" class="bt">v. BP</div>
            <div id="cc-23-10" class="bt">HP</div>
            <div id="cc-23-11" class="bt">v. HP</div>
            <div id="cc-23-12" class="bt">HP</div>
            <div id="cc-23-13" class="bt">v. HP</div>
            <div id="cc-23-14" class="bt">HP</div>
            <div id="cc-23-15" class="bt">v. HP</div>
        </div>
-->
    </div>
    <!--

    -->
<!--
    <div id="ring-mod" class="grid-default controls-row">
        <div class="header exp infos" data-infos="25">
            <div class="header-shortcut hidden">[Z,U]</div>
            <div></div>
        </div>
    </div>
-->
    <!--
        LATE MOD
    -->
    <div id="late-mod" class="grid-default controls-row">
        <div class="header exp infos" data-infos="25">
            <div>LATE MOD</div>
        </div>
    </div>
    <!--

    -->
    <div id="Xfilter-bandwidth" class="grid-default controls-row">
    </div>
    <!--

    -->
    <div id="Xmodulation" class="grid-default controls-row">
    </div>
    <!--
        MIX
    -->
    <div id="mix" class="grid-default controls-row">
        <div class="header exp infos" data-infos="18">
            <div>MIX</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-18"></svg>
        </div>
    </div>
<div class="mg-border-right"></div>

<div class="mg-border-left mg-row-border-bottom pb-5"></div>
    <!--
        FLANGER MODE
    -->
    <div id="flanger-mode" class="grid-default mg-last-row controls-row mg-row-border-bottom">
        <div class="header infos" data-infos="26">
            <div>FLANGER MODE</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-26"></svg>
        </div>
    </div>
    <!--
        MAX DELAY FEEDBACK
    -->
    <!--
            <div id="max-delay-feedback" class="grid-default controls-row">
                <div class="header">
                    <div>max delay feedback</div>
                </div>
                <div class="controls">
                </div>
            </div>
    -->
    <!--
        FLANGER SPEED
    -->
    <div id="flanger-speed" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="27">
            <div>FLANGER SPEED</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-27"></svg>
        </div>
    </div>
    <!--

    -->
    <div id="Xenv-type" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="9">
            <div></div>
        </div>
    </div>
    <!--

    -->
    <div id="Xsynth-mode" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="29">
            <div></div>
        </div>
<!--
        <div id="cc-29-options" class="synth-mode-grid controls-options-grid">
            <div id="cc-29-0" class="bt">DRY</div>
            <div id="cc-29-95" class="bt">ARP</div>
            <div id="cc-29-63" class="bt">MONO</div>
            <div id="cc-29-127" class="bt">POLY</div>
        </div>
        <div id="cc-30-options" class="synth-wave-grid controls-options-grid">
            <div id="cc-30-0" class="bt">SAW</div>
            <div id="cc-30-127" class="bt">SQUARE</div>
        </div>
-->
    </div>
    <!--
        EXP
    -->
    <div id="exp-controler" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header exp infos" data-infos="4">
            <div>EXP</div>
        </div>
        <div class="exp_wrapper">
            <div id="exp-a1"></div>
            <div id="exp-a2" class="slider-combo">
                <svg id="cc-4" class="slider"></svg>
            </div>
            <div id="exp-close" class="exp-switch"><div class="btx" id="exp-close-bt" title="Click to switch to edit the EXP (toe-down) values">toe</div></div>
            <div id="exp-open">heel</div>
            <div id="cc-4-value" class="slider-value"></div>
            <div id="exp-copy" class="btx" title="Click to copy the heel (normal) values to the toe values.">copy</div>
        </div>
    </div>
    <!--
        BYPASS
    -->
    <div id="bypass" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="14">
            <div class="header-shortcut hidden">[SPACE]</div>
            <div>bypass</div>
        </div>
        <div class="controls">
            <div class="stompswitch">
                <div id="cc-14-127" class="sw"><i class="fas fa-circle" aria-hidden="true" title="click to switch on"></i></div>
                <div id="cc-14-0" class="sw sw-off sw-on"><i class="fas fa-circle" aria-hidden="true" title="click to switch off"></i></div>
            </div>
        </div>
    </div>
<div class="mg-border-right mg-last-row mg-row-border-bottom controls-row pb-5"></div>