
#cc-4-value {
    grid-row: 2;
    grid-column: 3;
    align-self: center;
    justify-self: left;
}

#tempo-label {
    cursor: pointer;
}

#cc-26-options,
#cc-29-options {
    padding-left: 20px;
    padding-right: 20px;
}

.globals-grid-custom {
    grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto!important;
}
